<a
  href="
    javascript:void(
      window.open(
        'https://form.jotform.com/232628492941059',
        'blank',
        'scrollbars=yes,
        toolbar=no,
        width=700,
        height=500'
      )
    )
  "
  style="
    margin-top: 16px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-family: inherit;
    text-shadow: none;
    user-select: none;
    transition: all,.1s,ease-in;
    background-color: #FFA500;
    border: 1px solid #FFA500;
    border-radius: 50px;
    color: #FFFFFF;
  "
>
  免责申明 ｜ Release of liability, waiver of claims and assumption of risks agreement
</a>
